body {
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    place-content: center;
}

div#container{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content:space-around ;
    min-height: 100vh;
}

#logo {
    width: 120px;
}

div#login{
    border-radius: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form#login{
    margin-top:30px ;
    display: flex;
    flex-direction: column;
}

input#login{
    color: white;
    height: 30px;
    width: 200px;
    margin: 5px;
    background-color: rgb(77, 77, 77);
    border: solid 1px rgb(131, 131, 131);
    border-radius: 15px;
    font-size: 0.8rem;
    padding-left: 10px;
}
input#login::placeholder{
    color: rgb(131, 131, 131); ;
}
input#login:focus{
    color: rgb(131, 131, 131);
    background-color: rgb(77, 77, 77);
    outline: solid 1px rgb(131, 131, 131);
}

button#login{
    height: 30px;
    width: 200px;
    margin:5px;
    margin-top: 20px;
    background-color: rgb(46, 84, 211);
    border: solid 0px rgb(255, 252, 252);
    border-radius: 15px;
    font-size: 0.8rem;
    color: white;
}
/*---------------------------------------------------------------------------------*/
nav#head{
    background-color: black;
    overflow: hidden;
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

div#usrInfo{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#msjPageHead{
    background-color: black;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

div#msjPageUsrInfo{
    display: flex;
    height: 130px;
    width: 100vw;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

div#msjPageUsrInfo #profileIcon{
    margin-left: 20px;
    background-color: transparent;
    font-size: medium;

}

input#lookfor{
    color: white;
    height: 30px;
    width: 90vw;
    margin: 5px 20px;
    background-color: rgb(77, 77, 77);
    border: solid 1px rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 0.8rem;
}
input#lookfor::placeholder{
    color: rgb(131, 131, 131); ;
}
input#lookfor:focus{
    color: rgb(131, 131, 131);
    background-color: rgb(77, 77, 77);
    outline: solid 1px rgb(131, 131, 131);
}

img#profileImg{
    margin-right: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

div#profileIcon{
    margin-right: 10px;
    width:20px;
    height: 20px; 
    background-color:  white; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*---*/

div#mainSec{
    overflow: auto;
    position: fixed;
    top:120px;
    margin-bottom: 50px;
    width: 90vw;
    padding:0px 0px 10px 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

div.conversation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

div#convModul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.nombre{
    color: rgb(255, 255, 255);
    font-size: medium;
}

div.msjHora{
    font-size: small;
    color: rgb(77,77,77);
}

/*---*/
footer#menuBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(20,20,20) ;
    padding:10px 5px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

 footer div.menuIcon{
    text-align: center;
    font-size: 1.5rem;
    width: 40px;
    color: rgb(255, 255, 255);
 }
 /*----------------------------------------------------------------------------------------------------------------------*/

 div#msjMainSec{
    overflow: auto;
    position: fixed;
    top:120px;
    margin-bottom: 50px;
    width: 90vw;
    padding:0px 0px 10px 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

 div.msjs{
    display: flex;
    flex-direction: column;
    
    margin: 0;
    gap: 5px;
}

 div#received{
    min-height: 30px;
    display: flex;
    flex-direction: row;
    width:fit-content;
    height: auto;
    align-self: flex-start;
    align-items: center;

 }

 div.msjs div#received img#profileImg, div.msjs div#sent img#profileImg{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
 }

 div#sent{
    min-height: 30px;
    display: flex;
    flex-direction: row-reverse;
    width:fit-content;
    height: auto;
    align-self:flex-end;
    align-items: center;

 }

 div#received div.msjContent{
    max-width: 251px;
    padding: 5px;
    color: white;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    border:none
 }

 div#sent div.msjContent{
    max-width: 251px;
    padding: 5px;
    color: white;
    background-color: rgb(52, 9, 207);
    border-radius: 10px;
    border:none
 }

 footer#msjArea{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(20,20,20) ;
    padding:10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

footer#msjArea form.msjArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

input.msjBox{
    height: 30px;
    width: 90vw;
    outline: solid 1px white;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding-left: 5px;
}